# VITE_API_BASE_URL (string, URL format)
VITE_API_BASE_URL=https://example.com/api
# VITE_APP_MODE (enum: dev | prod)
VITE_APP_MODE=dev
# VITE_APP_TITLE (string)
VITE_APP_TITLE=My App
# VITE_OBFUSCATE (enum: true | false)
VITE_OBFUSCATE=false
# VITE_ENABLE_HTTPS (enum: true | false)
VITE_ENABLE_HTTPS=false
# VITE_ENABLE_MOCK (enum: true | false)
VITE_ENABLE_MOCK=false
# VITE_BUILD_TYPE (enum: dev | live)
VITE_BUILD_TYPE=dev
# VITE_SERVICE_TYPE (enum: default | alt)
VITE_SERVICE_TYPE=default
